 <!-- Footer -->
 <footer class="uk-section uk-section-secondary uk-padding-small">
	<div class="uk-container">
		<div class="uk-grid uk-child-width-1-4" uk-grid>
			<div>
				<div class="uk-tile uk-tile-secondary">
					<a class="uk-text-lead" href="#"> Pichr </a>
					<p>
						Lots of pictures
					</p>
					<a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="instagram"></a>
					<a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="facebook"></a>
					<a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="twitter"></a>
					<a href="#" class="uk-icon-link" uk-icon="tumblr"></a>
				</div>
			</div>
			<div>
				<div class="uk-tile uk-tile-secondary">
					<ul class="uk-nav-default" uk-nav>
						<li><a href="#">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
			</div>
			<div>
				<div class="uk-tile uk-tile-secondary">
					<ul class="uk-nav-default" uk-nav>
						<li><a href="#">Free images</a></li>
						<li><a href="#">Free videos</a></li>
						<li><a href="#">Legal</a></li>
						<li><a href="#">FAQ</a></li>
					</ul>
				</div>
			</div>
			<div>
				<div class="uk-tile uk-tile-secondary">
					<ul class="uk-nav-default" uk-nav>
						<li><a href="#">Login</a></li>
						<li><a href="#">Sign Up</a></li>
						<li><a href="#">Account</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- End footer -->
