<!-- Image section -->
<div class="uk-section" uk-section>
        <div class="uk-container uk-position-relative uk-margin-large-bottom">
            <div class="uk-grid-match" uk-grid>
                <div class="uk-position-center">
                    <h6 class="pichr-heading uk-text-lead"> Our Top Picks </h6>
                </div>
            </div>
        </div>
        <div class="uk-container uk-container-large uk-padding-small">
            <ul class="uk-flex-center uk-width-1-2 uk-position-center uk-position-relative" uk-tab>
                <li class="uk-active"><a href="#">All</a></li>
                <li><a href="#">Landscapes</a></li>
                <li><a href="#">Architecture</a></li>
                <li><a href="#">People</a></li>
                <li><a href="#">Abstract</a></li>
            </ul>
            <div class="image-holder uk-width-1-1" *ngIf="images">
                <div *ngFor="let image of images" class="demo uk-inline-clip uk-transition-toggle" tabindex="0">
                    <a href="{{ image.url }}"><img src="{{ image.url }}" alt="" class="demo-image"></a>
                    <div class="uk-transition-slide-bottom uk-position-cover uk-overlay uk-overlay-primary" style=" right: -10%" ></div>
                    <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-primary" style=" right: -10%">
                        <p class="uk-h4 uk-margin-small-bottom"> {{ image.title }} </p>
                        <ul class="uk-iconnav">
                            <li><a href="#" uk-icon="icon: heart"></a></li>
                            <li><a href="#" uk-icon="icon: download"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="uk-flex-center uk-width-1-2 uk-position-center uk-position-relative uk-margin-large-top">
                <h5> <a class="uk-link-muted" routerLink="/list" routerLinkActive="active">View All</a> </h5>
            </div>
        </div>
    </div>
    <!-- End image section -->