<!-- Image section -->
<div class="uk-section" uk-section>
        <div class="uk-container uk-position-relative uk-margin-large-bottom">
            <div class="uk-grid-match" uk-grid>
                <div class="uk-position-center">
                    <h6 class="pichr-heading uk-text-lead"> Our Top Picks </h6>
                </div>
            </div>
        </div>
        <div class="uk-container uk-container-large uk-padding-small">
            <ul class="uk-flex-center uk-width-1-2 uk-position-center uk-position-relative" uk-tab>
                <li class="uk-active"><a href="#">All</a></li>
                <li><a href="#">Landscapes</a></li>
                <li><a href="#">Architecture</a></li>
                <li><a href="#">People</a></li>
                <li><a href="#">Abstract</a></li>
            </ul>
            <div class="image-holder uk-width-1-1">
                <div class="demo uk-lightbox"><a href=""><img src="http://picsum.photos/602/660/" alt="" class="demo-image"></a></div>
                <div class="demo"><img src="http://picsum.photos/660/646/" alt="" class="demo-image"></div>
                <div class="demo"><img src="http://picsum.photos/741/375/" alt="" class="demo-image"></div>
                <div class="demo"><img src="http://picsum.photos/813/455/" alt="" class="demo-image"></div>
                <div class="demo"><img src="http://picsum.photos/470/870/" alt="" class="demo-image"></div>
                <div class="demo"><img src="http://picsum.photos/664/653/" alt="" class="demo-image"></div>
                <div class="demo"><img src="http://picsum.photos/708/313/" alt="" class="demo-image"></div>
                <div class="demo"><img src="http://picsum.photos/738/578/" alt="" class="demo-image"></div>
                <div class="demo"><img src="http://picsum.photos/470/316/" alt="" class="demo-image"></div>
            </div>
        </div>
    </div>
    <!-- End image section -->