 <!-- Pricing table -->
 <div class="uk-section uk-section-default" ul-section>
	<div class="uk-container uk-position-relative uk-margin-large-bottom">
		<div class="uk-grid-match uk-margin-large-bottom" uk-grid>
			<div class="uk-text-center uk-position-center">
				<h6 class="pichr-heading uk-text-lead"> Pricing </h6>
				<p class="pichr-heading uk-text-muted uk-text-lead">
						Find the perfect image within your budget
				</p>
			</div>
		</div>
	</div>
	<div id="pricing" class="uk-container uk-padding-large-top">
		<div class="uk-grid uk-grid-small uk-child-width-1-3@s" uk-grid>
		   <div class="pricing">
				<div class="uk-tile uk-tile-default uk-padding-remove uk-text-center">
					<p class="uk-text-lead uk-text-muted">Free</p>
					<p class="price uk-margin-large-top uk-text-bold">
						<sup>Kes</sup> 0 &#47;&#8211; <br>
						<span class="uk-text-muted"> <sub> <sup>Kes </sup> 100&#47;&#8211; for extra images</sub> </span>
					</p>
					<p>
						10 images per day
					</p>
					<p>
						Limited access
					</p>
				</div>
		   </div>
		   <div class="pricing">
				<div class="uk-tile uk-tile-default uk-padding-remove uk-text-center">
					<p class="uk-text-lead uk-text-muted">Standard</p>
					<p class="price uk-margin-large-top uk-text-bold">
						<sup>Kes</sup> 500 &#47;&#8211; <br>
						<span class="uk-text-muted"> <sub> Paid Monthly </sub> </span>
					</p>
					<p>
					   Unlimited downloads
					</p>
					<p>
						Limited access
					</p>
				</div>
		   </div>
		   <div class="pricing">
				<div class="uk-tile uk-tile-default uk-padding-remove uk-text-center">
					<p class="uk-text-lead uk-text-muted">Premium</p>
					<p class="price uk-margin-large-top uk-text-bold">
						<sup>Kes</sup> 1000 &#47;&#8211; <br>
						<span class="uk-text-muted"> <sub> Paid Monthly </sub> </span>
					</p>
					<p>
					   Unlimited downloads
					</p>
					<p>
						Full access
					</p>
				</div>
		   </div>
		</div>
	</div>
</div>
<!-- End pricing table -->