<!-- App navigation -->
<nav class="uk-navbar-container uk-navbar-transparent uk-position-top" uk-navbar>
  <div class="uk-navbar-left uk-width-1-4">
      <a class="uk-navbar-item uk-logo uk-light" id="log" href="#"> pichr </a>
  </div>

  <div class="uk-navbar-right uk-width-1-5">
      <ul class="uk-navbar-nav uk-light">
          <a class="uk-navbar-toggle uk-text-emphasis" href="#modal-full" uk-search-icon uk-toggle></a>
          <li> <a class="uk-text-emphasis" routerLink="/register" routerLinkActive="active"> signup </a></li>
          <li> <a class="uk-text-emphasis" routerLink="/login" routerLinkActive="active"> login </a></li>
          <li> <a class="uk-text-emphasis" href="#"> upload </a></li>
      </ul>
  </div>
</nav>