<div *ngIf="images" class="row d-flex">
   
    <!-- <h4 class="p-5 mx-auto"> Images </h4> -->
<!-- 
    <ul class="image-list p-2" >
        <li class="" *ngFor="let image of images">

            <div class="post-image">
                <a class="image-link">
                    <span class="image-placeholder"></span>
                    <img class="attachment" src="{{image.url}}" alt="image">
                </a>
            </div>
            <div class="item-info">
                <div class="item-info-row">
                    <div class="title-column">
                        <h3>
                            <a href="">
                                {{image.title}}
                            </a>
                        </h3>
                    </div>
                    <div class="price-column">
                        <span class="price">
                            <span class="amount">
                                <span class="currency-symbol"> Ksh. </span>
                                1
                            </span>
                        </span>
                    </div>
                </div>
            </div>

        </li>
    </ul> -->

</div> 

<!-- Banner2 -->
<section class="banner2 bg5 p-t-55 p-b-55">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-md-8 col-lg-6 m-l-r-auto p-t-15 p-b-15">
                <div class="hov-img-zoom pos-relative">
                    <img src="../../../assets/images/bg.jpg" alt="IMG-BANNER">

                    <div class="ab-t-l sizefull flex-col-c-b p-l-15 p-r-15 p-b-20">
                        <div class="t-center">

                            <a href="product-detail.html" class="dis-block s-text3 p-b-5">
                                Gafas sol Hawkers one
                            </a>

                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="col-sm-10 col-md-8 col-lg-6 m-l-r-auto p-t-15 p-b-15">
                <div class="bgwhite hov-img-zoom pos-relative p-b-20per-ssm">
                    <img src="../../../assets/images/bg.jpg" alt="IMG-BANNER">

                    <div class="ab-t-l sizefull flex-col-c-b p-l-15 p-r-15 p-b-20">
                        <div class="t-center">
                            <a href="product-detail.html" class="dis-block s-text3 p-b-5">
                                Gafas sol Hawkers one
                            </a>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>