.image-list {
  position: relative;
  height: auto;
  padding: 0;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}

.image-list li {
  width: 33.33%;
  padding: 5px;
}

.item-info {
  margin: 20px 0;
  color: #898989;
}

.item-info-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
}

.item-info .item-info-row > .title-column {
  flex-grow: 1;
}

.item-info .price {
  margin-top: 4px;
  color: #898989;
  position: relative;
  padding: 0;
  margin: 0;
  font-size: inherit;
}

.amount {
  color: #000;
}
