<div class="uk-section" uk-section>
    <div class="uk-container uk-position-relative uk-margin-large-bottom">
        <div class="uk-grid-match" uk-grid>
            <div class="uk-position-center">
                <h6 class="pichr-heading uk-text-lead"> Browse </h6>
            </div>
        </div>
    </div>
    <div class="uk-container uk-position-relative">
        <nav class="uk-navbar uk-flex uk-flex-center uk-position-relative ">
            <ul class="uk-flex-center uk-tab" uk-tab >
                <li><a href="#">Landscapes</a></li>
                <li><a href="#">Architecture</a></li>
                <li><a href="#">People</a></li>
                <li><a href="#">Abstract</a></li>
                <li><a href="#">Technology</a></li>
            </ul>          
        </nav>
        <div class="uk-grid-match uk-margin-large-bottom" uk-grid>
            <div >
                <h6 class="pichr-heading uk-text-lead"> Landscapes </h6>
            </div>
        </div>
    </div>
    <div class="uk-container uk-position-relative">
        <div class="image-holder uk-width-1-1" *ngIf="images"> 
            <div *ngFor="let image of images" class="demo uk-inline-clip uk-transition-toggle" tabindex="0">
                <img src="{{ image.url }}" alt="" class="demo-image">
                <div class="uk-transition-slide-bottom uk-position-cover uk-overlay uk-overlay-primary" style=" right: -10%" ></div>
                <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-primary" style=" right: -10%">
                    <p class="uk-h4 uk-margin-small-bottom"> {{ image.title }} </p>
                    <ul class="uk-iconnav">
                        <li><a href="#" uk-icon="icon: heart"></a></li>
                        <app-download title = "{{ image.title }}"></app-download>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>