<div class="uk-section" uk-section>
    <div class="uk-container uk-position-relative uk-margin-large-bottom">
        <div class="uk-grid-match" uk-grid>
            <div class="uk-position-center">
                <h6 class="pichr-heading uk-text-lead"> Browse </h6>
            </div>
        </div>
    </div>
    <div class="uk-container uk-position-relative">
        <nav class="uk-navbar uk-flex uk-flex-center uk-position-relative ">
            <ul class="uk-flex-center uk-tab" uk-tab >
                <li><a href="#">Landscapes</a></li>
                <li><a href="#">Architecture</a></li>
                <li><a href="#">People</a></li>
                <li><a href="#">Abstract</a></li>
                <li><a href="#">Technology</a></li>
            </ul>          
        </nav>
        <div class="uk-grid-match uk-margin-large-bottom" uk-grid>
            <div >
                <h6 class="pichr-heading uk-text-lead"> Landscapes </h6>
            </div>
        </div>
    </div>
    <div class="uk-container uk-position-relative">
        <div class="image-holder uk-width-1-1" *ngIf="images">  
            <div class="demo" *ngFor="let image of images"><img src="{{ image.url }}" alt="{{ image.title }}" class="demo-image"></div>
        </div>
    </div>
</div>