<div class="row">
    <div class="col-md-7 stretch-card grid-margin">
        <div class="card bg-gradient-primary card-img-holder text-white">
            <div class="card-body">
                <img src="src/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>
                <h4 class="card-title text-white mb-3">
                    Account
                </h4>
                <p class="card-description text-white m1-1">
                    Basic account information
                </p>
                <div class="row  mb-3">
                    <div class="col-md-8">
                        <div class="d-flex flex-row align-items-center">
                            <i class="mdi mdi-account icon-md"></i>
                            <p class="mb-0 ml-2">
                               inziano
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row  mb-3">
                    <div class="col-md-8">
                        <div class="d-flex flex-row align-items-center">
                            <i class="mdi mdi-email icon-md"></i>
                            <p class="mb-0 ml-2">
                                inzeeano@gmail.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5 stretch-card grid-margin">
        <div class="card bg-gradient-info card-img-holder text-white">
            <div class="card-body">
                <img src="src/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>
                <h4 class="card-title text-white mb-3">
                    Social Media
                </h4>
                <p class="card-description text-white m1-1">
                    Social media accounts
                </p>
                <div class="row  mb-3">
                    <div class="col-md-8">
                        <div class="d-flex flex-row align-items-center">
                            <i class="mdi mdi-instagram icon-sm"></i>
                            <p class="mb-0 ml-3">
                               inziano
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row  mb-3">
                    <div class="col-md-8">
                        <div class="d-flex flex-row align-items-center">
                            <i class="mdi mdi-twitter icon-sm"></i>
                            <p class="mb-0 ml-3">
                                @inziano
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row  mb-3">
                    <div class="col-md-8">
                        <div class="d-flex flex-row align-items-center">
                            <i class="mdi mdi-web icon-sm"></i>
                            <p class="mb-0 ml-3">
                                http://inziano.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>